@theme {
  /* line-heightは100%に統一 */
  --text-sm--line-height: 100%;
  --text-base--line-height: 100%;
  --text-2xl--line-height: 100%;
  --text-xs--line-height: 100%;
  --text-s--line-height: 100%;
  --text-m--line-height: 100%;
  --text-l--line-height: 100%;
  --text-xl--line-height: 100%;
  --text-2xl--line-height: 100%;
}
